[submodule "AzurLaneSourceJson"]
	path = AzurLaneSourceJson
	url = https://github.com/nobbyfix/AzurLaneSourceJson
[submodule "AzurLaneData"]
	path = AzurLaneData
	url = https://github.com/AzurLaneTools/AzurLaneData
